[user]
    name = Karel Smutný
    email = karel.smutny@outlook.com
[core]
    autocrlf = input
    editor = nano
[pull]
    rebase = true
[init]
    defaultBranch = main
[alias]
    lg = log --oneline --graph --decorate
